@page "/AdultData"
@using LoginExample.Data
@using LoginTroels.Models
@using System.Web
@using LoginTroels.Persistence
@using Newtonsoft.Json
@using Newtonsoft.Json.Converters
@using System.IO

<h3>This page shows the list of adults.</h3>

@if (persons == null) {
    <p>
        <em>Loading...</em>
    </p>
} else {
    <table class="table">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Hair colour</th>
            <th>Eye colour</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Sex</th>
            <th>Job title</th>
            <th>Salary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var person in persons) {
            <tr>
                <td>@person.FirstName</td>
                <td>@person.LastName</td>
                <td>@person.HairColor</td>
                <td>@person.EyeColor</td>
                <td>@person.Age</td>
                <td>@person.Weight</td>
                <td>@person.Height</td>
                <td>@person.Sex</td>
                <td>@person.JobTitle.JobTitle</td>
                <td>@person.JobTitle.Salary</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    HiredPerson[] persons = JsonConvert.DeserializeObject<HiredPerson[]>(File.ReadAllText(@"adults.json"));
}